<header>
    <div class="main-wrapper">
        <div class="clearfix">
            <a routerLink="/home" class="logo"><img width="188" src="/assets/images/logo.png" alt="Value3" /></a>
            <div class="report-title">
                <p class="top-title">Credit Rating Report</p>
                <p class="color-gray">11 October 2019</p>
            </div>
        </div>
        <div class="companay_name">Vedanta Ltd. ♦ BBB <span class="normal-weight">(Stable)</span></div>
    </div>
</header>