<footer>
    <div class="main-wrapper">
        <h4 class="common_title footer">
            <span>Contact</span>
        </h4>
        <address>
            <p><span class="boldfnt">Value3 Advisory Pte. Ltd. &bull;</span> 7 Temasek Boulevard, Suntec Tower One w Singapore 038987</p>
            <p><span class="boldfnt">E:</span> <a href="mailto:office@value3-advisory.com">office@value3-advisory.com</a> &bull; <span class="boldfnt">T:</span> +65 6826 2569</p>
            <p><span class="boldfnt">W:</span> <a href="https://www.value3-advisory.com">www.value3-advisory.com</a></p>
        </address>
        <div class="footer_copy">Value3 Credit Rating Report &bull; 11 October 2019</div>
    </div>
</footer>