<div>
    <h4 class="common_title">
        <span>Company Profile</span>
    </h4>
    <section class="com_pdg">
        <div class="graybg">
            Vedanta Limited, formerly known as Sesa Sterlite/Sesa Goa Limited, is a mining company based in India, with
            its main
            operations in iron ore, GOLD and Aluminium mines in Goa, Karnataka, Rajasthan and Odisha. It is 50% owned by
            Vedanta
            Resources (a UK based company controlled by the Anil Agarwal family) and 50% owned by other entities
            including the public,
            mutual funds and foreign investors. In financial year 2018, Vedanta Ltd. reported revenue of INR 909.01bn,
            EBIT of INR
            137.64bn, and net profit of INR 70.65bn.
        </div>
    </section>
</div>